@model SignInViewModel
@{
    ViewBag.Title = "Sign In";
}

@using (Html.BeginForm("Login", "Home", new { Area = "Auth" },  method: FormMethod.Post))
{
    <input type="hidden" name="ReturnUrl" value="@Context.Request.Query["returnUrl"]" />
    <div class="row mb-3">
        <div class="col">
            @Html.TextBoxFor(p => p.Email, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.Email)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            @Html.PasswordFor(p => p.Password, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.Password)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-check text-nowrap">
                @Html.CheckBoxFor(p => p.RememberMe, new {@class = "form-check-input"})
                <label class="form-check-label" asp-for="RememberMe">Remember Me</label>
            </div>
        </div>
        <div class="col">
            <div class="invisible">
                <span>TEXTTEXTTEXTTEXT</span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="submit" value="Sign In" class="btn btn-primary w-100" id="SignIn">
        </div>
    </div>
    @Html.ValidationSummary(null, new {@class = "text-danger"})
}
