@model AddCategoryViewModel
@{
    ViewBag.Title = "Add a New Category";
}

<div class="m-5">
    <form asp-action="Add" asp-controller="Category" asp-area="Admin" method="post">
        <div class="row mb-3">
            <div class="col-1">
                @Html.LabelFor(p => p.ParentCategoryId)
            </div>
            <div class="col-5">
                <select class="form-select" asp-for="ParentCategoryId" asp-items="@(new SelectList(Model.ParentCategories, "Id", "Name"))">
                    <option disabled selected>Select a Parent Category</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                @Html.LabelFor(p => p.Name)
            </div>
            <div class="col-5">
                @Html.TextBoxFor(p => p.Name, new {@class = "form-control", @value = Html.DisplayNameFor(p => p.Name)})
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <input type="submit" value="Add" class="btn btn-primary w-100" id="Add">
            </div>
        </div>
        @Html.ValidationSummary(null, new {@class = "text-danger"})
    </form>
</div>
