@model UpdateBrandViewModel
@{
    ViewBag.Title = "Update Brand";
}
<div class="m-5">
    <form asp-action="Update" asp-controller="Brand" asp-area="Admin" method="post" enctype="multipart/form-data">

        <div class="row mb-3">
            <div class="col-1">
                @Html.LabelFor(p => p.Id)
            </div>
            <div class="col-5">
                @Html.TextBoxFor(p => p.Id, new {@class = "form-control", @disabled = "disabled"})
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                @Html.LabelFor(p => p.Name)
            </div>

            <div class="col-5">
                @Html.TextBoxFor(p => p.Name, new {@class = "form-control", @value = Html.DisplayNameFor(p => p.Name)})
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label>Icon</label>
            </div>
            <div class="col-5">
                <img src="~/images/@Model.Image.NameWithPath" style="height: 6em; width: 6em;" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                @Html.LabelFor(p => p.Photo)
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="Photo" type="file" accept="image/png, image/jpg, image/jpeg" />
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-6">
                <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>
        </div>
        @Html.ValidationSummary(null, new {@class = "text-danger"})
    </form>
</div>
