@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "Products";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Brand.Name</td>
                <td>@product.Category.Name</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-area="Admin" asp-route-Id="@product.Id">Delete</a>
                    <a class="btn btn-success" asp-action="Update" asp-controller="Product" asp-area="Admin" asp-route-Id="@product.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <a class="btn btn-primary w-25" asp-action="Add" asp-controller="Product" asp-area="Admin">Add a new product</a>
            </td>
        </tr>
    </tfoot>
</table>
