@model UpdateProductViewModel
@{
    ViewBag.Title = "Update New Product";
}

<div class="m-5">
    <form asp-action="Update" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="Id"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="text" asp-for="Id" disabled />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="text" asp-for="Name" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="Description"></label>
            </div>
            <div class="col-5">
                <textarea class="form-control" asp-for="Description">@Model.Description</textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="Quantity"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="number" asp-for="Quantity" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="Price"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="text" asp-for="Price" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="CategoryId"></label>
            </div>
            <div class="col-5">
                <select class="form-select" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"></select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label" asp-for="BrandId"></label>
            </div>
            <div class="col-5">
                <select class="form-select" asp-for="BrandId" asp-items="@(new SelectList(Model.Brands, "Id", "Name"))"></select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1">
                <label class="form-label"><p>Images</p><small class="text-danger">Select to delete</small></label>
            </div>
            <div class="col-5">
                <div class="row">
                    @for (int i = 0; i < Model.Images.Count(); i++)
                    {
                        <div class="col-4 form-check">
                            <input type="checkbox" class="form-check-input" id="@i" asp-for="@Model.Images[i].IsDeleted" />
                            <label class="form-check-label">
                                <img class="img-thumbnail" src="~/images/@Model.Images[i].NameWithPath" style="height: 6em; width: 6em" for="@i" />
                            </label>
                            <input type="hidden" asp-for="@Model.Images[i].NameWithPath" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <input class="form-control" asp-for="Photo" type="file" accept="image/png, image/jpg, image/jpeg" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>
        </div>
        @Html.ValidationSummary(null, new {@class = "text-danger"})
    </form>
</div>
