@model AddUserViewModel;
@{
    ViewBag.Title = "Add New User";
}

@using (Html.BeginForm("Add", "User", method: FormMethod.Post, new { Area = "Admin" }))
{
    <div class="row mb-3">
        <div class="col">
            @Html.TextBoxFor(p => p.FirstName, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.FirstName)})
        </div>
        <div class="col">
            @Html.TextBoxFor(p => p.LastName, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.LastName)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            @Html.TextBoxFor(p => p.Email, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.Email)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            @Html.PasswordFor(p => p.Password, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.Password)})
        </div>
        <div class="col">
            @Html.PasswordFor(p => p.PasswordConfirm, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.PasswordConfirm)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="date" asp-for="DateBirth" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            @Html.TextAreaFor(p => p.Address, new {@class = "form-control", @placeholder = Html.DisplayNameFor(p => p.Address)})
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <select class="form-select" asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))">
                <option disabled selected>Select a Role</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" value="Add new User" class="btn btn-primary w-100">
        </div>
    </div>
    @Html.ValidationSummary(null, new {@class = "text-danger"})
}
