@model HomeViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid border">
    <div class="card m-5">
        <div class="card-header align-items-center">
            <ul id="listOfParentcategories" class="nav nav-tabs card-header-tabs">
                @foreach (var parent in Model.ParentCategories)
                {
                    <li class="nav-item">
                        <button class="nav-link" id="@parent.Id" onclick="GetSubCategories('@parent.Id')">@parent.Name</button>
                    </li>
                }
            </ul>
        </div>
        <div class="card-body d-none text-break" id="listOfSubCategories">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function GetSubCategories(id) {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("GetSubCategories", "Home"))",
                data: { id: id },
                success: (result) => {
                    let chunkedResult = chunk(result,3);
                    $("#listOfParentcategories > li > button").removeClass("active");
                    $("#" + id).addClass("active");
                    $("#listOfSubCategories").removeClass("d-none");
                    $("#listOfSubCategories").empty();
                    let links = document.createElement('table');
                    $(links).addClass("table");
                    links.createTBody();
                    for (let i = 0; i < chunkedResult.length; i++) {
                        var row = links.insertRow();
                        for (let j = 0; j < chunkedResult[i].length; j++) {
                            var url = '@Html.ActionLink("linkText", "Products", "Home", new {id = "tempId"})';
                            var cell = row.insertCell();
                            cell.innerHTML = url.replace("linkText", chunkedResult[i][j]["name"]).replace("tempId", chunkedResult[i][j]["id"]);
                        }
                    }
                    console.log(links);
                    document.getElementById("listOfSubCategories").appendChild(links);
                }
            })
        }
    </script>
}
